{% if widget.is_initial %}

        <p>{{ widget.initial_text }}:</p>
        {% if 'placeholder' not in widget.value.url %}
        <a href="{{ widget.value.url }}" class="text-decoration-none ms-5" target="_blank">
            <img class="preview-image shadow-sm" src="{{ widget.value.url }}"
                alt="Placeholder image for {{ product.name }}">
        </a>
        {% else %}
        <a href="{{ placeholder_image_url }}" class="text-decoration-none ms-5" target="_blank">
            <img class="preview-image shadow-sm" src="{{ placeholder_image_url }}"
                alt="Placeholder image for {{ product.name }}">
        </a>
        {% endif %}

        {% if 'placeholder' not in widget.value.url %}
        {% if not widget.required %}
        <div class="remove-image-container mt-2">
            <input class="hidden" type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
            <label class="" for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }} Image</label>
        </div>
        {% endif %}
        {% endif %}
        {{ widget.input_text }}

    {% endif %}

        <div class="file-selector-container p-0 overflow-hidden">
            <input type="{{ widget.type }}" name="{{ widget.name }}" {% include "django/forms/widgets/attrs.html" %}>
        </div>
