<div class="p-3 table-responsive container">
    <table class="w-100 text-dark-green table align-middle table-hover">
        <thead class="background-purple text-white fst-italic">
            <tr>
                <th>Status</th>
                <th>Details</th>
                <th>Order Date</th>
                <th>Collection Day</th>
                <th>Items</th>
            </tr>
        </thead>
        <tbody class="text-black">
            {% for order in orders %}
                <tr>
                    <td>
                        <a href="{% url 'order_details' order.order_number  %}" class="d-block text-purple text-decoration-none text-xs"
                        data-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true"
                        title="<p class='text-xs text-white'>Update</p>">
                        {% if order.status %}
                            <p class="m-0 p-2">Completed</p>
                        {% else %}
                            <p class="m-0 p-2">Open</p>
                        {% endif %}
                    </a>
                    </td>
                    <td>
                        <a href="{% url 'order_details' order.order_number  %}" class="d-block text-purple text-decoration-none text-xs">
                            <p class="m-0 p-2"># - {{ order.order_number }}</p>
                            <p class="m-0 p-2">{{ order.full_name }}</p>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'order_details' order.order_number  %}" class="d-block text-purple text-decoration-none text-xs">
                            {{ order.date | date:"d/m/y"}}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'order_details' order.order_number  %}" class="d-block text-purple text-decoration-none text-xs">
                            {{ order.collection_day}}
                        </a>
                        </td>

                    <td class="colspan-4">
                        <a href="{% url 'order_details' order.order_number  %}" class="d-block text-purple text-decoration-none text-xs">
                            <table class="table mb-0 sub-table">
                                <thead class="background-light-green text-purple fst-italic">
                                    <tr>
                                        <th class="w-75">Item</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody class="text-purple">
                                    {% for item in order.orderitems.all %}
                                    <tr>
                                        {% if item.dish.name %}
                                            <td>{{ item.dish.name | title }}</td>
                                            <td>{{ item.quantity }}</td>
                                        {% endif %}

                                        {% if item.wine.name %}
                                            <td>{{ item.wine.name | title }}</td>
                                            <td>{{ item.quantity }}</td>
                                        {% endif %}

                                        {% if item.bundle.name %}
                                            <td>{{ item.bundle.name | title }}</td>
                                            <td>{{ item.quantity }}</td>
                                        {% endif %}

                                    </tr>
                                    

                                {% endfor %}
                                </tbody>
                            </table>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>