{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- Hero Image -->
    {% include 'components/hero-image.html' %}

    <!-- About {{ store_name }} -->
    {% include 'components/about.html' %}

    <!-- The Menu -->
    {% include 'components/menu.html' %}

    <!-- Contact {{ store_name }} -->
    {% include 'components/contact.html' %}

{% endblock %}

{% block postloadjs %}
<script>

    // Google maps display
    function initMap() {
        const options = {
            zoom: 14,
            center: {
                lat: 51.938492,
                lng: -0.834284,
            },
            disableDefaultUI: true,
            scaleControl: true,
            fullscreenControl: true,
            gestureHandling: "none",
        }

        const map = new google.maps.Map(document.querySelector("#map"), options);

        // Position the marker
        const marker = new google.maps.Marker({
            position: {
                lat: 51.938492,
                lng: -0.834284,
            },
            map: map,
        });
    }
    

</script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6WOP_W1xQOlqbEqTgw5GlBUe3yljlitA&callback=initMap&v=weekly"
    async>
</script>


{% endblock %}