{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home/home.css' %}">
{% endblock %}

{% block content %}

    <!-- Hero Image -->
    {% include 'components/hero-image.html' %}

    <!-- About {{ store_name }} -->
    {% include 'components/about.html' %}

    <!-- The Menu -->
    {% include 'components/menu.html' %}

    <!-- Contact {{ store_name }} -->
    {% include 'components/contact.html' %}

{% endblock %}

{% block postloadjs %}

    {{ block.super }}
        <script src="{% static 'js/home/footer.js' %}"></script>
        <script src="{% static 'js/home/map.js' %}"></script>
        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6WOP_W1xQOlqbEqTgw5GlBUe3yljlitA&callback=initMap&v=weekly"
            async>
        </script>

{% endblock %}