{% extends "base.html" %}
{% load static %}

{% block content %}

    {% include 'components/hero-image.html' %}

    <!-- About {{ store_name }} -->
    {% include 'components/about.html' %}

    <!-- The Menu -->
    <section>
        <div
            class="row container-fluid background-white text-purple py-5 p-0 m-0 d-flex flex-column align-items-center justify-content-center border-bottom-light-green">
            <div class="col-12 col-md-6 p-5 d-flex flex-column align-items-center justify-content-center">
                <h2 class="text-header text-lg text-center">
                    The Menu
                </h2>
                <p class="text-sm py-5 px-md-3 p-xl-5 m-0">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis facere tenetur,
                    natus voluptates quis cum blanditiis molestias laborum, cumque fugiat veniam eveniet id.
                    Sunt consequuntur adipisci harum placeat magni ad voluptatum ullam sint. Quos, eligendi nulla
                    illum culpa minus pariatur cum, omnis beatae nemo quibusdam adipisci et laboriosam! Officia, dicta.
                </p>
                <a href="#" class="btn btn-general btn-box-shadow-white btn-purple text-sm p-3 rounded-0 my-3">
                    The Menu
                </a>
            </div>
        </div>
    </section>

    <!-- Contact {{ store_name }} -->
    <section id="contact-section">
        <div
            class="row container-fluid background-purple text-white py-5 p-0 m-0 d-flex flex-column flex-lg-row align-items-center justify-content-center">
            <div class="col-12">
                <h2 class="text-header text-lg text-center">
                    Contact Us
                </h2>
            </div>

            {% if message_name %}
                <p class="text-sm text-light-green text-center mt-5 p-3">
                    Thanks for your message {{ message_name }}, we will respond as soon as possible.
                </p>

            {% else %}

                <div class="col-12 col-lg-6 p-5 d-flex flex-column align-items-center justify-content-center">
                    <!-- Contact Form -->
                    <div class="row">
                        <div class="col-12">
                            <form action="{% url 'home' %}#contact-section" method="POST"
                                class="container p-0 d-flex flex-column justify-content-center align-items-center mb-5">
                                {% csrf_token %}

                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="text" name="message-name" placeholder="Your Name"
                                            class="my-3 mt-md-5 p-2 form-control fw-light text-xs" maxlength="150" required
                                            id="message-name">
                                    </div>

                                    <div class="col-lg-6">
                                        <input type="email" name="message-email" placeholder="Your Email"
                                            class="my-3 mt-lg-5 p-2 form-control fw-light text-xs" maxlength="150" required
                                            id="message-email">
                                    </div>

                                    <div class="col-12">
                                        <textarea type="text" name="message" placeholder="Your Message"
                                            class="my-3 mt-lg-5 form-control fw-light p-3 text-xs" maxlength="150" required
                                            id="message"></textarea>
                                    </div>

                                    <div class="col-12 text-center">
                                        <button type="submit"
                                            class="btn btn-general btn-light-green btn-box-shadow-white text-sm p-3 my-5 mx-3 mx-md-5 rounded-0">Send
                                            Message</button>
                                    </div>
                                </div>

                            </form>

                            <p class="text-center text-sm px-md-5 my-3">You can contact us by <a href="mailto:{{ store_email }}"
                                    class="text-light-green text-decoration-none">email</a> or simply fill
                                out the form above. We will always get back to you as soon as we can.</p>

                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6 p-md-3 p-lg-5 d-flex flex-column align-items-center justify-content-center">
                    <!-- Map and social links -->
                    <div class="row container-fluid">
                        <div class="col-12 mb-5">
                            <div id="map"></div>
                        </div>
                        <div class="col-12 container-fluid d-flex flex-row align-items-center justify-content-around">
                            <a href="{{ facebook }}" target="_blank" rel="noopener noreferrer"
                                class="text-md text-white footer-link text-decoration-none">
                                <i class="fa-brands fa-facebook-square"></i>
                            </a>

                            <a href="{{ instagram }}" target="_blank" rel="noopener noreferrer"
                                class="text-md text-white footer-link text-decoration-none">
                                <i class="fa-brands fa-instagram"></i>
                            </a>

                            <a href="{{ twitter }}" target="_blank" rel="noopener noreferrer"
                                class="text-md text-white footer-link text-decoration-none">
                                <i class="fa-brands fa-twitter-square"></i>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>

{% endblock %}

{% block postloadjs %}
<script>

    // Google maps display
    function initMap() {
        const options = {
            zoom: 14,
            center: {
                lat: 51.938492,
                lng: -0.834284,
            },
            disableDefaultUI: true,
            scaleControl: true,
            fullscreenControl: true,
            gestureHandling: "none",
        }

        const map = new google.maps.Map(document.querySelector("#map"), options);

        // Position the marker
        const marker = new google.maps.Marker({
            position: {
                lat: 51.938492,
                lng: -0.834284,
            },
            map: map,
        });
    }
    

</script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6WOP_W1xQOlqbEqTgw5GlBUe3yljlitA&callback=initMap&v=weekly"
    async>
</script>


{% endblock %}