{% extends "base.html" %}

{% load static %}

{% block content %}

    <!-- User profile section -->
    <section class="row container my-5 mx-auto background-light-green border-purple-thick">

        <!-- Header text -->
        {% include 'components/header/profile-header.html' %}

        <!-- Update profile form -->
        {% include 'components/form/profile-form.html' %}

        <!-- Order history -->
        {% include 'components/order-history/order-history.html' %}

    </section>



{% endblock %}
