<div class="row container-fluid mt-5 mx-auto justify-content-around">
    <div class="col-12 col-lg-4 d-flex flex-column align-items-center justify-content-center">
        <div class="row">
            <div class="col-12">
                <p class="text-md text-dark-green text-header" class="mt-4">Basket Total: {{ currency }}{{ grand_total|floatformat:2 }}</p>
            </div>
        </div>
    </div>

    <hr class="d-md-none text-purple my-3">

        <!-- Basket buttons -->
        {% include 'components/buttons/buttons.html' %}
</div>