{% extends "base.html" %}

{% block content %}

<section class="row container-fluid p-0 m-0">

    <div class="col-12 background-light-green">
        <h1 class="text-header text-purple text-lg text-center my-5">Administration</h1>
        <hr class="text-purple w-75 mx-auto my-5">
    </div>

    <div class="row my-5">
        <div class="col-12 col-md-6 mx-auto my-5">
            <div class="card text-center background-light-green rounded-0 border-purple">
                <a href="{% url 'orders' %}" class="text-decoration-none">
                    <div class="row card-body">
                        <div class="col-12 col-lg-6 mx-auto">
                            <h5 class="card-title text-header text-md text-purple pt-5">Your Orders</h5>
                            <p class="text-sm text-purple py-3">View all your orders</p>
                            <hr class="text-purple w-75 mx-auto">
                        </div>
                        <div
                            class="col-12 col-lg-4 d-flex align-items-center justify-content-center justify-content-lg-start mx-auto">
                            <div class="row my-3">
                                <div class="col-12">
                                    <p class="text-xs text-purple text-lg-start">
                                        Open Orders
                                        <span
                                            class="badge background-black-transp text-white ms-3">{{ open_orders_count }}</span>
                                    </p>
                                </div>
                                <div class="col-12">
                                    <p class="text-xs text-purple text-lg-start">
                                        Not Collected
                                        <span
                                            class="badge background-black-transp text-white ms-3">{{ completed_orders_not_collected }}</span>
                                    </p>
                                </div>
                                <div class="col-12">
                                    <p class="text-xs text-purple text-lg-start">
                                        Collected
                                        <span
                                            class="badge background-black-transp text-white ms-3">{{ completed_orders_and_collected }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mx-auto my-3">
            <div class="card text-center background-light-green rounded-0 border-purple">
                <a href="{% url 'create_dish' %}" class="text-decoration-none">
                    <div class="row card-body admin-card">
                        <div class="col-12 col-lg-4 m-auto">
                            <h5 class="card-title text-header text-md text-purple">Create a Dish</h5>
                            <hr class="text-purple w-75 mx-auto">
                        </div>
                        <div
                            class="col-12 col-lg-4 text-purple text-xl m-auto">
                            <i class="fa-solid fa-utensils"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mx-auto my-3">
            <div class="card text-center background-light-green rounded-0 border-purple">
                <a href="{% url 'create_wine' %}" class="text-decoration-none">
                    <div class="row card-body admin-card">
                        <div class="col-12 col-lg-4 m-auto">
                            <h5 class="card-title text-header text-md text-purple">Create a Wine</h5>
                            <hr class="text-purple w-75 mx-auto">
                        </div>
                        <div
                            class="col-12 col-lg-4 text-purple text-xl m-auto">
                            <i class="fa-solid fa-wine-glass"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mx-auto my-3">
            <div class="card text-center background-light-green rounded-0 border-purple">
                <a href="{% url 'create_works' %}" class="text-decoration-none">
                    <div class="row card-body admin-card">
                        <div class="col-12 col-lg-4 m-auto">
                            <h5 class="card-title text-header text-md text-purple">Create a Works</h5>
                            <hr class="text-purple w-75 mx-auto">
                        </div>
                        <div
                            class="col-12 col-lg-6 text-purple text-xl m-auto">
                            <i class="fa-solid fa-utensils"></i>
                            +
                            <i class="fa-solid fa-wine-glass"></i>
                           
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mx-auto my-3">
            <div class="card text-center background-light-green rounded-0 border-purple">
                <a href="{% url 'dish_category' %}" class="text-decoration-none">
                    <div class="row card-body admin-card">
                        <div class="col-12 col-lg-4 m-auto">
                            <h5 class="card-title text-header text-md text-purple">Create a Dish Category</h5>
                            <hr class="text-purple w-75 mx-auto">
                        </div>
                        <div
                            class="col-12 col-lg-4 text-purple text-xl m-auto">
                            <i class="fa-solid fa-kitchen-set"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mx-auto my-3">
            <div class="card text-center background-light-green rounded-0 border-purple">
                <a href="{% url 'wine_category' %}" class="text-decoration-none">
                    <div class="row card-body admin-card">
                        <div class="col-12 col-lg-4 m-auto">
                            <h5 class="card-title text-header text-md text-purple">Create a Wine Category</h5>
                            <hr class="text-purple w-75 mx-auto">
                        </div>
                        <div
                            class="col-12 col-lg-4 text-purple text-xl m-auto">
                            <i class="fa-solid fa-wine-bottle"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mx-auto my-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Create Collection Days</h5>
                    <p class="card-text">Create a dish to add to the menu</p>
                </div>
                <div class="card-footer text-muted">
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

    </div>


</section>

{% endblock %}