<div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-bs-delay="5000">
  <div class="toast-header text-dark-green p-3 background-light-green border-0">
    <h2 class="me-auto my-auto text-sm"><i class="fa-solid fa-check me-3"></i>Success</h2>
    <button type="button" class="btn-close text-light-green me-2" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body border-light-green background-white">
    <div class="row">
      <div class="col-12">
        <p class="text-xs text-purple p-3 m-0">{{ message }}</p>
        {% if grand_total %}
        <hr class="text-purple w-75 mb-5 mx-auto">
        {% endif %}
      </div>
    </div>


    {% if grand_total %}
      <p class="text-purple text-sm text-header py-1">Your basket contains {{ product_count }}
        item{% if product_count > 1 %}s{% endif %}</p>
      <div class="toast-basket-container">
        {% for item in bag_items %}
          <div class="row">
            <div class="col-3 my-1 d-flex align-items-center justify-content-center">
              {% if "placeholder" in item.product.image.url or not item.product.image.url %}
                <img class="toast-image p-0 m-auto" src="{{ placeholder_image_url }}"
                  alt="Placeholder image for {{ product.name }}">
              {% else %}
                <img class="toast-image p-0 m-auto" src=" {{ item.product.image.url }}"
                  alt="Image of {{ item.product.name }}">
              {% endif %}
            </div>
            <div class="col-9">
              <p class="my-0 text-xs text-purple"><strong>{{ item.product.name }}</strong></p>
              <p class="my-0 text-xs text-purple">Qty: {{ item.quantity }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col my-5">
          <strong>
            <p class="mt-3 mb-1 text-purple text-xs">
              Total:
              <span class="text-sm">{{ currency }}{{ total|floatformat:2 }}</span>
            </p>
          </strong>
        </div>
        <div class="row">
          <div class="col text-center mb-3">
            <a href="{% url 'view_bag' %}" class="btn btn-purple text-sm py-1 px3 rounded-0"
              aria-labelledby="toast-checkout">
              Secure Checkout
            </a>
            <span class="sr-only" id="toast-checkout">Purple button with white writing that navigates to the checkout
              page</span>
          </div>
        </div>
      </div>
    {% endif %}

  </div>
</div>