<div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-bs-delay="5000">
    <div class="toast-header text-dark-green p-3 background-light-green border-0">
      <h2 class="me-auto my-auto text-sm"><i class="fa-solid fa-exclamation me-3"></i>Warning</h2>
      <button type="button" class="btn-close text-light-green me-2" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body border-light-green">
      <p class="text-xs text-purple p-3 m-0">{{ message }}</p>
    </div>
  </div>