{% if product in dishes %}

    {% load crispy_forms_tags %}

    <!-- Fresh food products -->
    <div class="row container-fluid background-light-green p-0 m-0">

        <div class="col-12">
            <h1 class="text-header text-purple text-lg text-center my-5">Edit {{ product.name }}</h1>
            <hr class="text-purple w-75 m-auto">
        </div>

        <form action="{% url 'edit_dish' product.id %}" method="POST" class="container m-auto my-5 text-purple text-sm" enctype="multipart/form-data">
            {% csrf_token %}
                <p class="text-xs text-pruple ps-5 mb-5">
                    * required field
                </p>
                {{ form | crispy }}

            <div class="mt-5 d-flex flex-row justify-content-around">
                <button type="submit" class="btn btn-general btn-purple text-sm p-1 rounded-0 submit-quantity" aria-labelledby="add-product-dishes">Update Dish</button>
                <span id="add-product-dishes" class="sr-only">Purple button with white writing that adds to product to the dishes collection</span>

                
                <a href="{% url 'the_menu' %}" class="btn btn-general btn-white text-sm p-1 rounded-0" aria-labelledby="add-product-dishes">Cancel</a>
                <span id="cancel-product-dishes" class="sr-only">White button with purple writing that navigates to the menu products page</span>

            </div>
        </form>

    </div>


{% endif %}