<div class="col-12 col-lg-8 container m-auto background-white">
    {% if bag_items %}
        <div class="background-light-green px-3 px-sm-5 py-5 my-5">
                {% for item in bag_items %}
                    <div class="row container-fluid my-3 mx-auto border-dark-green p-3">
                        <div class="col-12 col-md-2 p-0 d-flex align-items-center justify-content-center">
                            {% if "placeholder" in item.product.image.url or not item.product.image.url %}
                                <img class="bag-image"
                                    src="https://res.cloudinary.com/sam-timmins1/image/upload/v1648242080/static/images/hero.b0249628474d.jpg"
                                    alt="Placeholder image for {{ product.name }}">
                            {% else %}
                                <img class="bag-image" src=" {{ item.product.image.url }}" alt="Image of {{ item.product.name }}">
                            {% endif %}
                        </div>
                        <div class="col-12 col-md-6 my-3 d-flex flex-column align-items-center justify-content-center">
                            <div class="row container-fluid">
                                <div class="col-4">
                                    <p class="my-0">Item:</p>
                                </div>
                                <div class="col-6">
                                    <p class="my-0">{{ item.product.name | title }}</p>
                                </div>
                            </div>
                            <div class="row container-fluid">
                                <div class="col-4">
                                    <p class="my-0">Price:</p>
                                </div>
                                <div class="col-6">
                                    <p class="my-0">{{ currency }}{{ item.product.price }}</p>
                                </div>
                            </div>
                            <div class="row container-fluid">
                                <div class="col-4">
                                    <p class="my-0">Quantity:</p>
                                </div>
                                <div class="col-6">
                                    <p class="my-0">{{ item.quantity }}</p>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                {% endfor %}
                
                <!-- Basket totals -->
                {% include 'components/totals/totals.html' %}
        </div>
    {% endif %}
</div>  