{% extends "base.html" %}
{% load static %}

{% block extra_css %}

    <link rel="stylesheet" href="{% static 'css/orders/orders.css' %}">

{% endblock %}

{% block content %}

    <!-- admin orders section -->
    <section class="p-0 m-0">
        
        <!-- Orders header -->
        {% include 'components/header/orders-header.html' %}

        <!-- Orders table -->
        {% include 'components/orders-table/orders-table.html' %}

        <!-- Filter orders -->
        {% include 'components/buttons/filter-order-button.html' %}

    </section>


{% endblock %}
