@import url('https://fonts.googleapis.com/css2?family=Forum&family=Jost:ital,wght@0,400;1,200&display=swap');

:root {
    --white: #FFFFFF;
    --black: #191919;
    --black-transp: rgba(25, 25, 25, 0.7);
    --light-green: #CBC7AE;
    --dark-green: #2B3A2D;
    --purple: #482832;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Jost', sans-serif;
}

/* Contents */
/* 
    1. Fonts
        1.1 Font Sizes
        1.2 Font Colours
        1.3 Header Text
    2. Background colours
    3. Borders
    4. Buttons
    5. Forms
    6. Navbar
    7. Footer
    8. Pagination
    9. Toasts 
*/

/* 1. Fonts */
/* 1.1 Font sizes */

.text-xs {
    font-size: 1.5rem;
}

.text-sm {
    font-size: 2rem;
}

.text-md {
    font-size: 3rem;
}

.text-lg {
    font-size: 4rem;
}

/* 1.2 Font Colours */

.text-white {
    color: var(--white) !important;
}

.text-light-green {
    color: var(--light-green) !important;
}

.text-dark-green {
    color: var(--dark-green) !important;
}

.text-purple {
    color: var(--purple) !important;
}

/* 1.3 Header Text */

.text-header {
    font-family: 'Forum', cursive
}

/* 2. Background colours */

.background-white {
    background-color: var(--white);
}

.background-light-green {
    background-color: var(--light-green);
}

.background-black {
    background-color: var(--black);
}

.background-black-transp {
    background-color: var(--black-transp);
}

.background-dark-green {
    background-color: var(--dark-green);
}

.background-purple {
    background-color: var(--purple);
}

/* 3. Borders */

.border-top-light-green {
    border-top: 4px solid var(--light-green);
}

.border-bottom-light-green {
    border-bottom: 4px solid var(--light-green);
}

.border-light-green {
    border: 4px solid var(--light-green);
}

.border-purple {
    border: 1px solid var(--purple);
}

.border-dark-green {
    border: 1px solid var(--purple);
}

.border-purple-thick {
    border: 4px solid var(--purple);
}

.border-white {
    border: 1px solid var(--white);
}

/* 4. Buttons */

.search-btn {
    background-color: var(--dark-green);
    color: var(--light-green);
    border: 1px solid var(--dark-green);
}

.product-search-btn {
    background-color: var(--light-green);
    color: var(--dark-green);
    border: 1px solid var(--light-green);
}

.btn-general {
    width: 15rem;
}

.btn-box-shadow-white {
    box-shadow: 0px 0px 5px 2px var(--white)
}

.btn-purple {
    background-color: var(--purple);
    color: var(--white);
}

.btn-white {
    background-color: var(--white);
    color: var(--purple);
}

.btn-light-green {
    background-color: var(--light-green);
    color: var(--purple);
}

.btn-purple:hover,
.btn-purple:focus,
.btn-light-green:hover,
.btn-light-green:focus {
    color: var(--purple);
    background-color: var(--white);
    box-shadow: 0px 0px 5px 2px var(--purple);
    transition: .8s;
}

.btn-white:hover,
.btn-white:focus {
    color: var(--white);
    background-color: var(--purple);
    box-shadow: 0px 0px 5px 2px var(--white);
    transition: .8s;
}

/* 5. Forms */

/* Remove Counters on number inputs (W3 School) */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-control-border {
    border: 1px solid var(--dark-green);
}

.form-control:focus {
    animation-name: form-control-focus;
    animation-duration: .8s;
    animation-fill-mode: forwards;
    border: 1px solid var(--dark-green);
    box-shadow: none;
    color: var(--white);
}

.form-control[readonly] {
    background-color: var(--light-green);
}

@keyframes form-control-focus {
    0% {
        background-color: var(--white);
    }
    100% {
        background-color: var(--dark-green);
    }
  }


/* 6. Navbar */

.nav-spacer,
.navbar {
    height: 7.5rem;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem var(--light-green)
}

.navbar-light .navbar-toggler {
    border: none;
}

.navbar-collapse {
    background-color: var(--light-green);
}

.dropdown-item:hover {
    background-color: var(--dark-green);
    color: var(--light-green) !important;
}

.dropdown-menu {
    max-width: 70%;
}

.nav-link,
.navbar-brand {
    border-bottom: 4px solid transparent;
}

.nav-link {
    margin-left: 10rem;
}

.nav-link:hover,
.nav-link:focus,
.navbar-brand:hover,
.navbar-brand:focus {
    animation: nav-link-focus;
    animation-duration: 0.8s;
    transition-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.profile-link {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 2px solid var(--dark-green);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-link:hover,
.profile-link:focus {
    background-color: var(--light-green);
    color: var(--dark-green);
    transition: 0.8s;
}

.btn-order-numbers {
    position: fixed;
    top: 8rem;
    right: 0;
    z-index: 10;
    width: 5rem;
    height: 5rem;
}

@keyframes nav-link-focus {
    0% {
        border-bottom: 4px solid transparent;
    }

    100% {
        border-bottom: 4px solid var(--light-green);
    }
}


/* 7. Footer */

.footer-link:hover,
.footer-link:focus {
    color: var(--light-green) !important;
}

/* Pagination */
.page-link:hover,
.page-link:focus {
    background-color: var(--white);
    border-color: var(--purple);
}

.page-link:focus {
    box-shadow: 0 0 8px 2px var(--white);
}

/* Toasts */

.message-container {
    position: fixed;
    top: 8rem;
    right: 1rem;
    z-index: 10;
}

/* Loading Spinner */
#loading-overlay {
	display: none;
	position: fixed;
    top: 7rem;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--light-green);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/* Tables */

.sub-table {
    width: 100%;
}

.sub-table th.item {
    width: 80%;
}
