@import url('https://fonts.googleapis.com/css2?family=Forum&family=Jost:ital,wght@0,400;1,200&display=swap');
/* 
font-family: 'Forum', cursive;
font-family: 'Jost', sans-serif;
*/

:root {
    --white: #FFFFFF;
    --black: #191919;
    --light-green: #CBC7AE;
    --dark-green: #2B3A2D;
    --purple: #482832;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Jost', sans-serif;
}

/* Contents */
/* 
    1. Fonts
        1.1 Font Sizes
*/


/* 1. Fonts */
/* 1.1 Font sizes */

.text-xs {
    font-size: 1.5rem;
}

.text-sm {
    font-size: 2rem;
}

.text-md {
    font-size: 3rem;
}

.text-lg {
    font-size: 4rem;
}

.text-xl {
    font-size: 5rem;
}
