<div class="row">
    <div class="col">
        <p class="text-xs text-dark-green">Order Status:</p>
    </div>
    <div class="col-12 text-md-right text-xs">
        <div class="row justify-content-end">
            <div class="col-12 col-sm-8 text-md-right">
                
                <p class="text-md text-purple text-break text-uppercase fw-bolder">
                    {% if order.status %}
                        Completed
                    {% else %}
                        Open
                    {% endif %}
                </p>
                
                <!-- Order status buttons -->
                {% include 'components/update-status-buttons/update-status-buttons.html' %}

                <!-- Update status modal -->
                {% include 'components/update-status-modal/update-status-modal.html' %}
                
            </div>
        </div>
    </div>
</div>

<hr class="text-purple w-lg-75 mt-0">