{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/products/products.css' %}">
{% endblock %}

{% block content %}

    <!-- Edit {{ product.name }} section -->
    <section class="row container-fluid m-0 p-5 d-flex flex-column flex-md-row background-light-green">
        <div class="container col-12 col-md-6 col-xl-4 m-auto">
            <div class="row">

                <!-- Edit dish header -->
                {% include 'components/header/edit-dish-header.html' %}

                <!-- Edit dish form -->
                {% include 'components/forms/edit-dish-form.html' %}

            </div>
        </div>
    </section>

{% endblock %}

{% block postloadjs %}

    {{ block.super }}
        <script src="{% static 'js/products/form-slug-field.js' %}"></script>

{% endblock %}