{% for product in wines %}
<div class="col-12 col-md-6 col-lg-4 my-3 d-flex justify-content-center align-items-center p-md-3 p-lg-5">
    <div class="card w-75 background-light-green">
    <a href="{% url 'product_details_wines' product.id %}" class="text-decoration-none" aria-labelledby="{{ product.slug_name }}-card">

        <!-- Default image if none is uploaded -->
        {% if "placeholder" in product.image.url %}
            <img class="card-img-top"
                src="https://res.cloudinary.com/sam-timmins1/image/upload/v1648242080/static/images/hero.b0249628474d.jpg"
                alt="Placeholder image for {{ product.name }}">
        {% else %}
            <img class="card-img-top" src=" {{ product.image.url }}" alt="Image of {{ product.name }}">
        {% endif %}

        <div class="card-body">
            <h5 class="card-title text-md text-purple text-header my-3 text-center">{{ product.name|title }}</h5>
            <hr class="text-purple">
            {% if product.category.origin %}
                <p class="card-text text-sm text-purple p-3 m-0">Origin: {{ product.category.origin|upper }}</p>
            {% else %}
                <p class="card-text text-sm text-purple p-3 m-0">Origin: Unknown</p>
            {% endif %}
            <p class="card-text text-sm text-purple p-3 m-0">Variety: {{ product.category.variety|title }}</p>
            <p class="card-text text-sm text-purple p-3 m-0">Price: {{ currency }}{{ product.price }}</p>
        </div>
    </a>
    <span class="sr-only" id="{{ product.slug_name }}-card">A link to the detailed description of {{ product.name }} and purchasing options</span>

        <!-- Admin buttons for delete and edit -->
        {% include 'components/admin-buttons/admin-buttons.html' %}

        <!-- Modal for delete -->
        {% include 'components/modals/delete-wine-modal.html' %}
    
    </div>
</div>
{% endfor %}