{% if product in bundle %}

    <!-- Product image -->
    <div class="col-12 col-md-6 p-0 order-md-2 background-light-green">
        <img class="card-img-top"
            src="https://res.cloudinary.com/sam-timmins1/image/upload/v1648242080/static/images/hero.b0249628474d.jpg"
            alt="Placeholder image for {{ product.name }}">
    </div>

    <!-- Product name and price -->
    <div
        class="col-12 col-md-6 p-3 p-md-3 p-lg-5 order-md-1 background-light-green d-flex flex-column justify-content-around">
        <p class="text-header text-md text-purple m-0 text-center">
            {{ product.name|title }}
        </p>
        <p class="text-md text-purple ps-3 text-center">
            {{ currency }}{{ product.price }}
        </p>

        <!-- Add to bag form -->
        <form action="#" method="POST" class="d-flex flex-column justify-content-center">
            {% csrf_token %}

            <div class="mt-3 d-flex flex-column flex-sm-row align-items-center justify-content-center">
                <label for="item-quantity" class="form-label text-sm me-3 mb-0">Quantity: </label>
                <div class="row">
                    <div class="col-12">
                        <div class="input-group border border-1">
                            <span
                                class="input-group-text rounded-0 text-white background-dark-green border-0 decrease-counter  d-none"
                                id="decrease-counter">
                                <i class="fa-solid fa-minus text-xs"></i>
                            </span>
                            <input type="number" name="item-quantity"
                                class="form-control text-sm ps-3 border-0 item-quantity" min="1" max="25" value="1"
                                id="item-quantity" >
                            <span
                                class="input-group-text rounded-0 text-white background-dark-green border-0 increase-counter"
                                id="increase-counter">
                                <i class="fa-solid fa-plus text-xs"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Helper text -->
            <p class="quantity-helper text-center mt-3 p-3 background-dark-green text-white text-xs w-75 m-auto d-none">
                Quantity between 1 and 25 only. Please <a href="{% url 'home' %}#contact-section"
                    class="text-light-green text-decoration-none">contact us</a> for larger orders</p>
            <div class="mt-5 d-flex flex-row justify-content-around">
                <input type="submit" class="btn btn-general btn-purple text-sm p-1 rounded-0 submit-quantity"
                    value="Add to Bag">
                <a href="{% url 'the_works' %}" class="btn btn-general btn-white text-sm p-1 rounded-0" 
                aria-labelledby="product-description-bundle-button">The Works</a>
                <span class="sr-only" id="product-description-bundle-button">
                    White button with purple writing navigating to the works menu
                </span>
            </div>
        </form>


    </div>

    <!--  Product details -->
    <!-- Dish -->
    <div class="col-12 col-lg-6 order-md-last p-3 p-lg-5">
        <hr class="my-5">

        <p class="card-text text-xs">
            <i class="fa-solid fa-bowl-food text-xs me-3"></i>Dish: {{ product.dish.name }}
        </p>
        {% if product.dish.status %}
        <p class="card-text text-xs">
            <i class="fa-solid fa-utensils text-xs me-3"></i>Guaranteed <span class="text-uppercase">fresh</span>
        </p>
        {% else %}
        <p class="card-text text-xs">
            <i class="fa-solid fa-utensils text-xs me-3"></i>Freshly <span class="text-uppercase">frozen</span>
        </p>
        {% endif %}
        <p class="card-text text-xs"><i class="fa-solid fa-earth-europe text-xs me-3"></i>Origin:
            {{ product.dish.category.origin | upper }}
        </p>

        <p class="text-sm"><i class="fa-solid fa-circle-info text-xs me-3"></i>Description</p>
        <p>{{ product.description }}</p>
        {{ product.dish.name }}
    </div>

    <!-- Wine -->
    <div class="col-12 col-lg-6 order-md-last p-3 p-lg-5">
        <hr class="my-5">

        <p class="card-text text-xs">
            <i class="fa-solid fa-wine-glass text-xs me-3"></i>Wine: {{ product.wine.name }}
        </p>

        <p class="card-text text-xs">
            <i class="fa-solid fa-wine-bottle text-xs me-3"></i>Variety: <span class="text-uppercase">{{ product.wine.category.variety | upper }}</span>
        </p>

        <p class="card-text text-xs"><i class="fa-solid fa-earth-europe text-xs me-3"></i>Origin:
            {{ product.wine.category.origin | upper }}
        </p>

        <p class="text-sm"><i class="fa-solid fa-circle-info text-xs me-3"></i>Description</p>
        <p>{{ product.description }}</p>
        {{ product.wine.name }}
    </div>

{% endif %}