{% extends "base.html" %}

{% block content %}

    <div
        class="row container-fluid d-flex flex-column flex-md-row align-items-center justify-content-center px-0 py-5 m-auto">
        <div class="d-none d-lg-inline col-lg-3 p-0 m-0">
            <!-- Add production images when available -->
            <img src="https://res.cloudinary.com/sam-timmins1/image/upload/v1648294674/static/images/auth3_yj4lam.jpg"
                alt="" class="authentication-image">
            <img src="https://res.cloudinary.com/sam-timmins1/image/upload/v1648295330/static/images/auth5_bchikz.jpg"
                alt="" class="authentication-image">
        </div>
        <div class="col-12 col-md-8 col-lg-6">
            <div class="row container-fluid d-flex justify-content-center align-items-center py-5 m-auto">
                <div
                    class="border-light-green col-12 p-3 p-md-5 d-flex flex-column justify-content-center align-items-center background-purple text-white">

                    {% block authcontent %}

                    {% endblock %}

                </div>
            </div>
        </div>

        <div class="d-none d-md-inline col-md-3 p-0 m-0 overflow-hidden">
            <!-- Add production images when available -->
            <img src="https://res.cloudinary.com/sam-timmins1/image/upload/v1648294372/static/images/auth1_rta1wn.jpg"
                alt="" class="authentication-image">
            <img src="https://res.cloudinary.com/sam-timmins1/image/upload/v1648294674/static/images/auth3_yj4lam.jpg"
                alt="" class="authentication-image d-none d-md-inline d-lg-none">
            <img src="https://res.cloudinary.com/sam-timmins1/image/upload/v1648295295/static/images/auth4_rign35.jpg"
                alt="" class="authentication-image">
        </div>

    </div>

{% endblock %}