{% extends "account/base.html" %}

{% load i18n %}

{% block authcontent %}

        <h1 class="text-header text-md mb-3">Sign Out</h1>

        <p class="text-sm p-3 text-center">Are you sure you want to sign out?</p>
        
        <!-- Logout Form -->
        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}

          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}

          <div class="d-flex flex-column flex-sm-row justify-content-center align-items-center">
            <button class="btn btn-general btn-light-green btn-box-shadow-white text-sm my-3 mx-3 mx-lg-5 rounded-0"
              type="submit">Yes</button>
            
            <a href="{% url 'home' %}"
              class="btn btn-general btn-light-green btn-box-shadow-white text-sm my-3 mx-3 mx-lg-5 rounded-0">
              No
            </a>
            </div>

        </form>
    
{% endblock %}