{% extends "account/base.html" %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block authcontent %}

{% load account %}
    <h1 class="text-header text-md mb-3">
        {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
    </h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}" class="text-light-green">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                <div class="my-3 mx-auto mt-md-5">
                    <label for="id_password" aria-labelledby="enter-your-signup-password">
                      <i class="fas fa-lock me-3"></i>
                    </label>
                    <input type="password" name="password1" placeholder="New Password" class="fw-light"
                      required="" id="id_password1">
                  </div>
                  <span class="sr-only" id="enter-your-signup-password">Input box for entering your password</span>
        
                  <div class="my-3 mx-auto mt-md-5">
                    <label for="id_password2" aria-labelledby="enter-your-signup-password-again">
                      <i class="fas fa-lock me-3"></i>
                    </label>
                    <input type="password" name="password2" placeholder="Confirm New Password" class="fw-light"
                      required="" id="id_password2">
                  </div>
                  <span class="sr-only" id="enter-your-signup-password-again">Input box for confirming your password</span>
                <input type="submit" name="action" value="{% trans 'Change' %}"
                class="btn btn-general btn-light-green btn-box-shadow-white text-sm p-3 my-5 mx-3 mx-md-5 rounded-0">
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
