{% extends "account/base.html" %}

{% load i18n %}

{% block authcontent %}

{% load account %}


    <h1 class="text-header text-md mb-3">Password Reset</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p class="text-xs p-3 text-center">We have sent you an e-mail. Please <a href="{% url 'home' %}#contact-section" class="text-light-green">contact us</a> if you do not receive it within a few minutes.</p>
{% endblock %}
