{% extends "account/base.html" %}

{% load i18n %}

{% block authcontent %}

{% load account %}
    <h1 class="text-header text-md mb-3">Change Password</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change text-sm d-flex flex-column justify-content-center align-items-center">
        {% csrf_token %}
        <div class="my-3 mx-auto mt-md-5">
            <label for="id_password" aria-labelledby="enter-your-signup-password">
              <i class="fas fa-lock me-3"></i>
            </label>
            <input type="password" name="password1" placeholder="New Password" class="fw-light"
              required="" id="id_password1">
          </div>
          <span class="sr-only" id="enter-your-signup-password">Input box for entering your password</span>

          <div class="my-3 mx-auto mt-md-5">
            <label for="id_password2" aria-labelledby="enter-your-signup-password-again">
              <i class="fas fa-lock me-3"></i>
            </label>
            <input type="password" name="password2" placeholder="Confirm New Password" class="fw-light"
              required="" id="id_password2">
          </div>
          <span class="sr-only" id="enter-your-signup-password-again">Input box for confirming your password</span>

        <button type="submit" name="action" class="btn btn-general btn-light-green btn-box-shadow-white text-sm p-3 my-5 mx-3 mx-md-5 rounded-0">
            Change Password
        </button>
    </form>
{% endblock %}
