{% extends "account/base.html" %}

{% load i18n %}

{% block authcontent %}

{% load account %}


    <h1 class="text-header text-md mb-3">Password Reset</h1>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="text-xs p-3 text-center">
        Forgotten your password? It happens to us all, if you would like to reset it then please 
        enter your e-mail address below, and we'll send you a mail allowing you to reset it
    </p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset text-sm d-flex flex-column justify-content-center align-items-center"
        >
        
        {% csrf_token %}
            {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                <p class="m-auto text-sm text-light-green text-center">{{ error|escape }}</p>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <p class="m-auto text-sm text-light-green text-center">{{ error|escape }}</p>
            {% endfor %}
          {% endif %}
    
        <div class="my-3 mx-auto mt-md-5">
            <label for="id_email" aria-labelledby="enter-your-password-reset-email">
              <i class="fa-solid fa-envelope me-3"></i>
            </label>
    
            <input type="email" name="email" placeholder="E-mail address" class="fw-light text-purple"
              maxlength="150" required id="id_email">
        </div>
        <span class="sr-only" id="enter-your-password-reset-email">
            Input box for entering your email address in order to reset your password
        </span>

        <button
          class="btn btn-general btn-light-green btn-box-shadow-white text-sm p-3 my-5 mx-3 mx-md-5 rounded-0"
          type="submit">Reset
        </button>
    </form>

    <p class="text-xs p-3 text-center">
        Please <a href="{% url 'home' %}#contact-section" class="text-light-green">contact us</a> 
        if you have any trouble resetting your password.</p>

{% endblock %}