{% extends "account/base.html" %}

{% load i18n %}

{% block title %}Email Verification{% endblock %}

{% block authcontent %}

    <h1 class="header-text text-md mb-3 text-center">Verify Your E-mail Address</h1>

    <p class="text-center text-sm">We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. 
        Please <a href="{% url 'home' %}#contact-section" class="text-light-green">contact us</a> if you do not receive it within a few minutes.</p>

{% endblock %}
