#update-status-form label {
    width: 100%;
    padding-left: 2rem;
}

.form-check-input:checked {
    background-color: var(--purple);
    border-color: var(--white);
    box-shadow: 0px 0px 5px 2px var(--light-green)
}