#update-status-form label {
    width: 100%;
    padding-left: 2rem;
}

.form-check-input:checked {
    background-color: var(--purple);
    border-color: var(--white);
    box-shadow: 0px 0px 5px 2px var(--light-green)
}

.btn-filter-orders {
    position: fixed;
    top: 14rem;
    right: 0;
    z-index: 10;
    width: 3rem;
    height: 5rem;
}

.filter-item:hover {
    background-color: var(--light-green);
}

.reset-filter-link:hover {
    color: var(--purple) !important;
}

/* ≥768px */
@media (min-width: 768px) {

    .btn-filter-orders {
        width: 5rem;
    }
  }