

    <h2 class="text-header text-md text-center">Order History</h2>
    <hr class="text-purple w-lg-75">

    <div class="p-3 table-responsive">
        <table class="w-100 text-dark-green table align-middle">
            <thead class="background-purple text-white fst-italic">
                <tr>
                    <th>Order Number</th>
                    <th>Date</th>
                    <th>Items</th>
                    <th>Order Total</th>
                </tr>
            </thead>
            <tbody class="text-black">
                {% for order in orders %}
                    <tr>
                        <td>
                            <a href="" data-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true"
                            title="<p class='text-xs text-white'>{{ order.order_number }}</p>"
                            class="text-purple">

                                {{ order.order_number|truncatechars:6 }}
                            </a>
                        </td>
                        <td>{{ order.date | date:"d/m/y"}}</td>

                        <td class="colspan-4">
                            <table class="table mb-0">
                                <thead class="background-light-green text-purple fst-italic">
                                    <tr>
                                        <th>Item</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in order.orderitems.all %}
                                    <tr>
                                        {% if item.dish.name %}
                                            <td>{{ item.dish.name | title }}</td>
                                            <td>{{ item.quantity }}</td>
                                        {% endif %}

                                        {% if item.wine.name %}
                                            <td>{{ item.wine.name | title }}</td>
                                            <td>{{ item.quantity }}</td>
                                        {% endif %}

                                        {% if item.bundle.name %}
                                            <td>{{ item.bundle.name | title }}</td>
                                            <td>{{ item.quantity }}</td>
                                        {% endif %}

                                    </tr>
                                    

                                {% endfor %}
                                </tbody>
                            </table>
                        </td>

                        <td>${{ order.grand_total }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
