<div class="row">
    <div class="col-12">

            <div class="col-12 col-lg-6 d-flex justify-content-around">
                <button class="btn btn-general btn-box-shadow-white btn-purple text-xs mt-3 mb-5 p-3 rounded-0"
                data-bs-toggle="modal" data-bs-target="#update-status-modal" aria-labelledby="update-status-confirmation">
                    Update Status
                </button>
                <span class="sr-only" id="update-status-confirmation">
                    Purple button with white text that opens up the update status modal
                </span>

                <button class="btn btn-general btn-box-shadow-white btn-light-green text-xs mt-3 mb-5 p-3 rounded-0"
                data-bs-toggle="modal" data-bs-target="#delete-order-modal" aria-labelledby="delete-order-confirmation">
                    Delete Order
                </button>
                <span class="sr-only" id="delete-order-confirmation">
                    Green button with purple text that opens up the delete order modal
                </span>

            </div>

    </div>
</div>
