<section class="row container-fluid about-section-container text-purple background-light-green p-0 m-0">
        <div class="col-12 col-md-6 p-5 d-flex flex-column align-items-center justify-content-center">
            <h1 class="text-header text-lg text-center">
                {{ store_name }}
            </h1>
            <p class="text-sm text-center text-md-start py-5 px-md-3 p-xl-5 m-0">
                <strong>Swanbourne Village Stores</strong>, has been an integral part of the village community and the wider Winslow District for decades. 
                Jean-Claude and Julie have taken on the opportunity to provide locals with the conveniences they are used to along with 
                a new and very popular addition.
                <br>
                <br>
                After twenty-two years away from the village, having lived in France and being surrounded by phenomenal food and fine wines, the idea of quality food 
                mixed with the convenience of a collection only takeaway meal was born. With Jean-Claude's exceptional cooking abilities and Julie's experience in wine selection, 
                <strong><em>Swanbourne Village Stores provides a restaurant quality takeaway dining experience, with fine wines from our wine store.</em></strong>
            </p>
        </div>
        <div class="col-12 col-md-6 p-0">
            <div class="about-image"></div>
        </div>
</section>