<section
    class="row container-fluid background-white text-purple py-5 p-0 m-0 d-flex flex-column align-items-center justify-content-center border-bottom-light-green">
    <div class="col-12 col-md-6 p-5 d-flex flex-column align-items-center justify-content-center">
        <h2 class="text-header text-lg text-center">
            The Menu
        </h2>
        <p class="text-sm py-5 px-md-3 p-xl-5 m-0 text-center">
            Inspired by world cuisine, our menu gives you the quality of restaurant standard food, and the convenience of a collection only takeaway. 
            Coupled with the depth of wines in our wine store, and the knowledge that our food is sourced locally, guilt-free pleasure is the backbone of our menu.
            <br>
            <br>
            Fresh or frozen, wine or not, or pick from The Works for a dish with a wine picked by us to perfectly accompany it.
        </p>
        <a href="{% url 'the_menu' %}" class="btn btn-general btn-box-shadow-white btn-purple text-sm p-3 rounded-0 my-3">
            The Menu
        </a>
    </div>
</section>