<section
    class="row container-fluid background-white text-purple py-5 p-0 m-0 d-flex flex-column align-items-center justify-content-center border-bottom-light-green">
    <div class="col-12 col-md-6 p-5 d-flex flex-column align-items-center justify-content-center">
        <h2 class="text-header text-lg text-center">
            The Menu
        </h2>
        <p class="text-sm py-5 px-md-3 p-xl-5 m-0">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis facere tenetur,
            natus voluptates quis cum blanditiis molestias laborum, cumque fugiat veniam eveniet id.
            Sunt consequuntur adipisci harum placeat magni ad voluptatum ullam sint. Quos, eligendi nulla
            illum culpa minus pariatur cum, omnis beatae nemo quibusdam adipisci et laboriosam! Officia, dicta.
        </p>
        <a href="{% url 'the_menu' %}" class="btn btn-general btn-box-shadow-white btn-purple text-sm p-3 rounded-0 my-3">
            The Menu
        </a>
    </div>
</section>