{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    {% endblock %}


    {% block extra_meta %}

    {% endblock %}


    {% block corecss %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}


    {% block extra_css %}

    {% endblock %}


    {% block corejs %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/522597c1d6.js" crossorigin="anonymous"></script>
    {% endblock %}


    {% block extra_js %}

    {% endblock %}


    <title>{{ store_name }} {% block title %}{% endblock %}</title>
</head>

<body class="d-flex flex-column min-vh-100">

        {% include 'layout/navbar.html' %}

        <div class="nav-spacer"></div>
        {% block content %}

        {% endblock %}

        {% include 'layout/footer.html' %}

    {% block postloadjs %}

        <script src="{% static 'js/app.js' %}"></script>
        
    {% endblock %}

</body>

</html>