{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags -->
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="Swanbourne, Winslow, Winslow District, food, quality food, takeaway, restaurant, wine, wine store, store, collection, village">
    <meta name="Description" content="Swanbourne Village Stores, in the Winslow District of Buckinghamshire, provides restaurant-quality food for collection. 
        These takeaway meals can be accompanied by a wine selected from our wine store.">
    {% endblock %}

    <!-- Extra meta -->
    {% block extra_meta %}

    {% endblock %}

    <!-- Core JS -->
    {% block corecss %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/media/media.css' %}">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet" type="text/css">
    {% endblock %}

    <!-- Extra CSS -->
    {% block extra_css %}

    {% endblock %}

    <!-- Core CSS -->
    {% block corejs %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/522597c1d6.js" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    <!-- Extra JS -->
    {% block extra_js %}

    {% endblock %}


    <title>{{ store_name }} | {% block title %}{% endblock %}</title>
</head>

<body class="d-flex flex-column min-vh-100">

        <!-- Navbar -->
        {% include 'layout/navbar.html' %}

        <!-- Navbar spacer -->
        <div class="nav-spacer"></div>

        {% include 'components/open-order-button/open-order-button.html' %}
        
        {% if messages %}
        <!-- Messages section -->
            <section class="message-container">
                {% for message in messages %}
                    {% with message.level as level %}
                        {% if level == 40 %}
                            {% include 'components/toasts/toast-error.html' %}
                        {% elif level == 30 %}
                            {% include 'components/toasts/toast-warning.html' %}
                        {% elif level == 25 %}
                            {% include 'components/toasts/toast-success.html' %}
                        {% else %}
                            {% include 'components/toasts/toast-info.html' %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </section>
        {% endif %}

        {% block content %}

        {% endblock %}

        <!-- Footer -->
        {% include 'layout/footer.html' %}

    <!-- Postload JS -->
    {% block postloadjs %}

        <script src="{% static 'js/app.js' %}"></script>
        <script src="{% static 'js/newsletter/newsletter.js' %}"></script>
        <script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
        
    {% endblock %}
    
</body>

</html>