{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}

<!-- Fresh food products -->
<section class="row container-fluid background-light-green p-0 m-0">

    <div class="col-12">
        <h1 class="text-header text-purple text-lg text-center my-5">Add a Wine</h1>
        <hr class="text-purple w-75 m-auto">
    </div>

    <form action="{% url 'create_wine' %}" method="POST" class="container col-10 col-md-6 col-lg-4 m-auto my-5 text-purple text-sm" enctype="multipart/form-data">
        {% csrf_token %}
            <p class="text-xs text-pruple ps-5 mb-5">
                * required field
            </p>
            {{ form | crispy }}

        <div class="mt-5 d-flex flex-row justify-content-around">
            <button type="submit" class="btn btn-general btn-purple text-sm p-1 rounded-0 submit-quantity" aria-labelledby="add-product-wines">Add Product</button>
            <span id="add-product-wines" class="sr-only">Purple button with white writing that adds to product to the wines collection</span>

            
            <a href="{% url 'wine_store' %}" class="btn btn-general btn-white text-sm p-1 rounded-0" aria-labelledby="cancel-product-wines">Cancel</a>
            <span id="cancel-product-wines" class="sr-only">White button with purple writing that navigates to the wines products page</span>
        </div>
    </form>

</section>

{% endblock %}

{% block postloadjs %}

    {{ block.super }}
        <script src="{% static 'js/products/form-slug-field.js' %}"></script>

{% endblock %}