{% extends "base.html" %}

{% load static %}

{% block title %}Details{% endblock %}

{% block content %}

<!-- Product Details -->
<section class="row container-fluid m-0 p-5 d-flex flex-column flex-md-row">
    <div class="col-12 col-lg-10 col-xl-8 m-auto">
        <div class="row">

    <!-- Bundle -->
    {% include 'components/details/the-works-details.html' %}

    <!-- Wine -->
    {% include 'components/details/wine-details.html' %}

    <!-- Dish -->
    {% include 'components/details/dish-details.html' %}

        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}

    {{ block.super }}
        <script src="{% static 'js/products/quantity.js' %}"></script>

{% endblock %}
