{% extends "base.html" %}

{% load static %}

{% block title %}The Freezer{% endblock %}

{% block content %}

<!-- The freezer pproducts -->
<section class="row container-fluid background-purple m-0">

    <!-- The freezer header -->
    {% include 'components/headers/the-freezer-header.html' %}

    <!-- The freezer cards -->
    {% include 'components/cards/the-freezer-cards.html' %}

    <!-- Pagination -->
    {% include 'components/pagination/pagination.html' %}

</section>

{% endblock %}