<div class="row mb-5 mx-auto p-0">
    <div class="col-12 col-md-6 col-lg-4 my-3">
        <div class="card text-center background-light-green rounded-0 border-purple">
            <a href="{% url 'dishes' %}" class="text-decoration-none">
                <div class="row card-body admin-card">
                    <div class="col-12 col-lg-4 m-auto">
                        <h5 class="card-title text-header text-md text-purple">Dishes</h5>
                        <hr class="text-purple w-75 mx-auto">
                    </div>
                    <div
                        class="col-12 col-lg-4 text-purple text-xl m-auto">
                        <i class="fa-solid fa-utensils"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mx-auto my-3">
        <div class="card text-center background-light-green rounded-0 border-purple">
            <a href="{% url 'wines' %}" class="text-decoration-none">
                <div class="row card-body admin-card">
                    <div class="col-12 col-lg-4 m-auto">
                        <h5 class="card-title text-header text-md text-purple">Wines</h5>
                        <hr class="text-purple w-75 mx-auto">
                    </div>
                    <div
                        class="col-12 col-lg-4 text-purple text-xl m-auto">
                        <i class="fa-solid fa-wine-glass"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mx-auto my-3">
        <div class="card text-center background-light-green rounded-0 border-purple">
            <a href="{% url 'works' %}" class="text-decoration-none">
                <div class="row card-body admin-card">
                    <div class="col-12 col-lg-4 m-auto">
                        <h5 class="card-title text-header text-md text-purple">The Works</h5>
                        <hr class="text-purple w-75 mx-auto">
                    </div>
                    <div
                        class="col-12 col-lg-6 text-purple text-xl m-auto">
                        <i class="fa-solid fa-utensils"></i>
                        +
                        <i class="fa-solid fa-wine-glass"></i>
                       
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mx-auto my-3">
        <div class="card text-center background-light-green rounded-0 border-purple">
            <a href="{% url 'dish_category' %}" class="text-decoration-none">
                <div class="row card-body admin-card">
                    <div class="col-12 col-lg-4 m-auto">
                        <h5 class="card-title text-header text-md text-purple">Dish Categories</h5>
                        <hr class="text-purple w-75 mx-auto">
                    </div>
                    <div
                        class="col-12 col-lg-4 text-purple text-xl m-auto">
                        <i class="fa-solid fa-kitchen-set"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mx-auto my-3">
        <div class="card text-center background-light-green rounded-0 border-purple">
            <a href="{% url 'wine_category' %}" class="text-decoration-none">
                <div class="row card-body admin-card">
                    <div class="col-12 col-lg-4 m-auto">
                        <h5 class="card-title text-header text-md text-purple"> Wine Categories</h5>
                        <hr class="text-purple w-75 mx-auto">
                    </div>
                    <div
                        class="col-12 col-lg-4 text-purple text-xl m-auto">
                        <i class="fa-solid fa-wine-bottle"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mx-auto my-3">
        <div class="card text-center background-light-green rounded-0 border-purple">
            <a href="{% url 'collection_days' %}" class="text-decoration-none">
                <div class="row card-body admin-card">
                    <div class="col-12 col-lg-4 m-auto">
                        <h5 class="card-title text-header text-md text-purple">Collection Days</h5>
                        <hr class="text-purple w-75 mx-auto">
                    </div>
                    <div
                        class="col-12 col-lg-4 text-purple text-xl m-auto">
                        <i class="fa-solid fa-calendar-days"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>