<div class="row">
    <div class="col">
        <p class="text-xs text-dark-green">Pricing:</p>
    </div>
    <div class="col-12 text-md-right text-xs">
        {% if order.delivery_cost %}
            <div class="row justify-content-end">
                <div class="col-12 col-sm-4">
                    <p class="text-xs text-dark-green">
                        Delivery:
                    </p>
                </div>
                <div class="col-12 col-sm-4 text-md-right">
                    <p class="text-xs text-dark-green">
                        {{ currency }}{{ order.delivery_cost }}
                    </p>
                </div>
            </div>
        {% endif %}
        
        <div class="row justify-content-end">
            <div class="col-12 col-sm-4">
                <p class="text-xs text-dark-green">
                    Total:
                </p>
            </div>
            <div class="col-12 col-sm-4 text-md-right">
                <p class="text-xs text-dark-green">
                    {{ currency }}{{ order.grand_total }}
                </p>
            </div>
        </div>

    </div>
</div>

<hr class="text-purple w-lg-75 mt-0">