<div class="row">
    <div class="col">
        <p class="text-xs text-dark-green">Order Dates:</p>
    </div>
    <div class="col-12 text-md-right text-xs">
        <div class="row justify-content-end">
            <div class="col-12 col-sm-4">
                <p class="text-xs text-dark-green">
                    Order Date:
                </p>
            </div>
            <div class="col-12 col-sm-4 text-md-right">
                <p class="text-xs text-dark-green">
                    {{ order.date | date:"l jS F Y" }}
                </p>
            </div>
        </div>
        
        <div class="row justify-content-end">
            <div class="col-12 col-sm-4">
                <p class="text-xs text-dark-green">
                    Collection Date:
                </p>
            </div>
            <div class="col-12 col-sm-4 text-md-right">
                <p class="text-xs text-dark-green mb-0">
                    {{ order.collection_day }}
                </p>
                <small class="fst-italic fw-bold text-purple">* This day is the next {{ order.collection_day }} after the order date</small>

            </div>
        </div>

    </div>
</div>

<hr class="text-purple w-lg-75 mt-0">