/*  Media Queries */

/* Based on Bootstrap breakpoints - https://getbootstrap.com/docs/5.1/layout/breakpoints/ */

/* ≥576px */
@media (min-width: 576px) {
    .dropdown-menu {
        max-width: 50%;
    }

    .nav-link {
        margin-left: 12rem;
    }
  }


/* ≥768px */
@media (min-width: 768px) {
    .nav-link {
        margin-left: 18rem;
    }
  }


/* ≥992px */
@media (min-width: 992px) {
    .navbar-collapse {
        background-color: transparent;
    }

    .navbar-brand {
        font-size: 2.5rem;
    }

    .dropdown-item:hover {
        background-color: var(--light-green);
        color: var(--dark-green) !important;
    }

    .dropdown-menu {
        max-width: 200%;
    }
  }
