/*  Media Queries */

/* Based on Bootstrap breakpoints - https://getbootstrap.com/docs/5.1/layout/breakpoints/ */

/* ≥768px */
@media (min-width: 768px) {

  .basket-qty-counter {
      width: 25rem !important;
  }

  .btn-order-numbers {
      width: 5rem;
  }
}


/* ≥992px */
@media (min-width: 992px) {
  .navbar-collapse {
      background-color: transparent;
  }

  .nav-link,
  .dropdown-item,
  .navbar-brand {
      color: var(--dark-green) !important;
  }

  .profile-link {
      border: 2px solid var(--dark-green);
  }
}